*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.5s;
}

main{
    padding: 25px;
    box-sizing: border-box;
    width: 100%;
    height: 200vh;
    background-color: #f1f155;
    display: grid;
    gap: 25px;
}

.item_one{
    grid-row: span 1;
    background-color: red;
}

.item_two{
    grid-row: span 6;
    background-color: orange;
}

.item_three{
    grid-row: span 5;
    background-color: greenyellow;
}

.item_four{
    grid-row: span 6;
    background-color: chocolate;
}

.item_five{
    grid-row: span 3;
    background-color: coral;
}

.item_six{
    grid-row: span 3;
    background-color: darkgreen;
}

.item_seven{
    grid-row: span 1;
    background-color: black;
}